<h1>This is an individual task</h1>
<%= @task.title %>
<%= @task.details %>
<%= @task.completed %>
<%= link_to("Go back to tasks", tasks_path) %>
<%= k=link_to("Delete this post", task_path(@task), data:{turbo_method: :delete, turbo_confirm: "Are you sure?"})%>
